header {
    color: white;
    text-align: center;
    background-color: coral;
}

body {

    background: radial-gradient(ellipse, black, #424242);
}

section {
    background-color: chocolate;
}

img {
    width: 200px;
}

.AboutMe {
    margin-right: 67%;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
}

.col1 {
    background-color: bisque;
    width: 30%;
}

.col2 {
    background-color: wheat;
}

.col3 {
    background-color: aquamarine;
}

thead {
    background-color: coral;
}

#Achievements {
    font-weight: bolder;
    color: blanchedalmond;
}